<footer class="footer">
  <div class="container py-md-5 py-4 border-top border-gray-300">
    <p class="text-center text-primary-400 fs-md-6 font-news-reader">
      ©Vivre 2024 All right Reserved
    </p>
  </div>
</footer>
